.text-center{
color:white;
margin-top: 10%;
margin-bottom:15px;
}
.list-group-item{
    margin:auto;
    width: 15%;
    }
body{
background-color: rgb(62, 221, 208);
}
button{
    float:right;
    border:none;
    background:white;
    margin-top:-2px;
}